############################
# PHP Storm
############################
.idea/

############################
# logs
############################
logs

############################
# PRODUÇÃO
############################
docker-compose.yml
