############################
# PHP Storm
############################
.idea/
.idea/vcs.xml
############################
# logs
############################
logs

############################
# PRODUÇÃO
############################
docker-compose.yml
