version: '2'

services:
###############################################################################
### webdev
###############################################################################
    applications:
        image: detones/webdev:latest
        volumes:
            - c:\/:/var/www
        extra_hosts:
            - "dockerhost:10.0.75.1"

###############################################################################
### APACHE & PHP
###############################################################################
    php-apache:
        build:
            context: ./php-apache
            args:
                - DOCUMENT_ROOT=/var/www/public
                - SERVER_NAME=localhost
                - SERVER_ALIAS=localhost
                - SERVER_ADMIN=email@email.com
        volumes_from:
            - applications
        volumes:
            - ./logs/apache2:/var/log/apache2
        ports:
            - "80:80"
            - "443:443"
        expose:
            - "9000"

###############################################################################
### MySQL
###############################################################################

    mysql:
        build:
            context: ./mysql
            args:
                - MYSQL_DATABASE=dev
                - MYSQL_USER=dev
                - MYSQL_PASSWORD=dev
                - MYSQL_ROOT_PASSWORD=root
        volumes:
            - mysql:/var/lib/mysql
        ports:
            - "3306:3306"

###############################################################################
### PostgreSQL
###############################################################################
    postgres:
        build: ./postgres
        volumes:
            - postgres:/var/lib/postgresql/data
        ports:
            - "5432:5432"
        environment:
            POSTGRES_DB: dev
            POSTGRES_USER: dev
            POSTGRES_PASSWORD: dev

###############################################################################
### phpMyAdmin
###############################################################################
    phpmyadmin:
        build: ./phpmyadmin
        environment:
            PMA_ARBITRARY: 1
            MYSQL_USER: dev
            MYSQL_PASSWORD: dev
            MYSQL_ROOT_PASSWORD: dev
        ports:
            - "8080:80"
        links:
            - "mysql:db"

###############################################################################
### VOLUMES
###############################################################################
volumes:
    mysql:
        driver: "local"
    postgres:
        driver: "local"